<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Página de invitación de boda</title>
  <link rel="stylesheet" href="Estilos.css">
  <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding-top: 15vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
    }
    
  </style>
</head>
<body>
  <div class="container">
    <div class="background"></div>
    <div class="txtnombres">Mariana y Gustavo</div>
    <div class="txtfecha">07/10/2023</div>
    <div class="txtMontserrat">¡Nos casamos!</div>
    <div class="txtMontserratterciario">Estancia Las Lilas, Lujan<br>12:00hs<br></div>
    <a class="button" href="https://forms.gle/hrEZBGLNh8Ee9JZWA">CONFIRMAR ASISTENCIA</a>
    <a class="button" href="https://goo.gl/maps/NNpzRmYRwoCQt3EN7">COMO LLEGAR</a>
    <a class="button" href="link_para_regalos">REGALOS</a>
  </div>
</body>
</html>
